html {
  scroll-behavior: smooth;
}

.page-header {
  padding-top: 30px;
}

.header-line {
  border-top-style: solid;
  border-top-color: gray;
  border-width: 4px;
  width: 5000px;
  position: absolute;
  left: 0px;
}

.pill {
  background-color: gray;
}

.container-grid {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-items: stretch;
  grid-template-areas:
    ". ."
    ". .";
}

.home-img {
  min-width: 20%;
  max-width: 22%;
  height: auto;
  position: relative;
  top: 10%;
  border-radius: 10px;
}

.home-article {
  border-radius: 10px;
  padding: 11px;
  margin: 7px;
  background-color: rgb(127, 169, 216);
}
.home-article:hover {
  background-color: rgb(126, 144, 187);
  color: rgb(15, 104, 67);
}

.home-title {
  display: inline;
  position: relative;
  text-align: left;
  top: 15%;
}
.home-title > h2 {
  font-size: 10px;
}

.new-articles {
  position: relative;
  right: 18%;
}

.scroll-article-list {
  overflow: scroll;
}

.big-article {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(127, 169, 216);
}
.big-article:hover,
.home-article:hover {
  background-color: rgb(173, 207, 245);
}

.big-text,
.big-title {
  display: inline-block;
}

.big-frame {
  width: 125px;
  height: 125px;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
}

.new-articles {
  padding-left: 13%;
}

.directory {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(127, 169, 216);
}

.references {
  word-wrap: break-word;
}

.new-img {
  width: 100%;
  max-width: 100%;

  height: auto;
  position: relative;
  top: 10%;
  border-radius: 10px;
}

article {
  border-radius: 8px;
  background-color: rgb(177, 182, 176);
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
  padding: 30px;
  margin-top: 10px;
  margin-right: 20px;
}

.article-text {
  margin-left: 4%;
}

.article-img {
  border-radius: 35px;
  padding: 2%;
  width: 80%;
}

a > sup {
  color: rgb(15, 104, 67);
}

a > sup:hover {
  color: rgb(15, 104, 67);
}

a,
a:visited,
a:link,
a:active {
  position: relative;
  color: inherit;
  text-decoration: none;
}

li a:hover {
  color: rgb(15, 104, 67);
}

li:hover {
  color: rgb(15, 104, 67);
}

.big-article:hover {
  color: rgb(15, 104, 67);
}

.article-text {
  font-size: large;
}

.page-header a:hover {
  color: rgb(15, 104, 67);
}

.tagflat > a:hover {
  color: rgb(100, 180, 143);
}

.homehead {
  background-color: lightgray;
}

@media (prefers-color-scheme: dark) {
  body,
  .dropdown-menu {
    background-color: rgb(47, 47, 49);
  }
  .homehead {
    background-color: gray;
  }
  h1,
  h2,
  .nav-item,
  .dropdown-menu {
    color: antiquewhite;
  }
}
